.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    background: #ffffff;
    box-shadow: 0 1px 5px rgba(0,0,0,0.08);
    position: sticky;
    top: 0;
    z-index: 1000;
    font-family: 'Poppins', sans-serif;
}



.logo {
    font-size: 28px;
    font-weight: 700;
    background: linear-gradient(to right,
    #FF6A00,
    #6A5ACD,
    #1E90FF
);
    -webkit-background-clip: text;
    color: transparent;
}

.logo span {
    background: linear-gradient(to right, #0066ff, #00a2ff);
    -webkit-background-clip: text;
    color: transparent;
}


.nav-search {
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin: 0 40px;
    position: relative;
}

.nav-search input {
    width: 100%;
    padding: 12px 45px;
    border-radius: 50px;
    border: 1px solid #dcdcdc;
    outline: none;
    font-size: 15px;
}

.search-icon {
    position: absolute;
    left: 15px;
    color: #666;
    font-size: 18px;
}

.nav-right{display: flex;
    align-items: center;
    gap: 15px; 
}

.nav-btn1{
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 10px 18px;
    font-size: 15px;
    border: 1px solid #dcdcdc;
    border-radius: 30px;   
    background: #ffffff;
    cursor: pointer;
    transition: 0.2s;
}
.nav-btn2{
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 10px 18px;
    font-size: 15px;
    border: 1px solid #dcdcdc;
    border-radius: 30px;   
    background: #ffffff;
    cursor: pointer;
    transition:0.2s}



.nav-btn1:hover {
    background: #f1f1f1;
    background-color:rgb(52, 162, 52);
    color:white;
}

.nav-btn2:hover {
    background: #f1f1f1;
    background-color: #FF6A00;
    color:white;
}


.nav-btn2 {
    padding: 10px 14px;
    border-radius: 30px;    
}


.icon {
    font-size: 18px;
}
.navbar1{display: flex;
align-items: start;
gap: 25px;
font-size: 17px;
margin-left:10px;
padding-bottom: 0px;}

.home:hover{color: #00a2ff;
cursor: pointer;
text-decoration: underline;}

.products:hover{color: #00a2ff;
cursor: pointer;
text-decoration: underline;}

.aboutus:hover{color: #00a2ff;
cursor:pointer;
text-decoration: underline;}

.home-link{
  text-decoration: none;
  color: inherit;
}

.about-link {
    text-decoration: none;
    color: inherit;
}

.products-link{
  text-decoration: none;
  color: inherit;
}


.empty-cart {
    text-align: center;
    padding: 100px 20px;
}

.empty-cart .icon {
    font-size: 70px;
    opacity: 0.7;
}

.empty-cart h2 {
    margin-top: 15px;
    font-size: 32px;
}

.empty-cart p {
    margin-top: 5px;
    color: #666;
    font-size: 16px;
}

.shop-btn {
    display: inline-block;
    margin-top: 20px;
    background: #ff6a00;
    color: white;
    padding: 12px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 15px;
}
.shop-btn:hover {
    background: #e85d00;
}


.footer {
    background: #f3f6fb;
    padding: 50px 80px 30px;
    font-family: "Inter", sans-serif;
    color: #4a5568;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}

.footer-section h2.footer-logo {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
    background: linear-gradient(to right,
    #FF6A00,
    #6A5ACD,
    #1E90FF
);
    -webkit-background-clip: text;
    color: transparent;
}

.footer-section h3 {
    color: #1a202c;
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 600;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #4a5568;
    font-size: 14px;
    transition: 0.2s;
}

.footer-section ul li a:hover {
    color: #f26c3d;
}

.footer-icons i {
    font-size: 18px;
    margin-right: 12px;
    cursor: pointer;
    transition: 0.2s;
}



.footer-bottom {
    text-align: center;
    margin-top: 25px;
    font-size: 14px;
    color: #718096;
}

.footer hr {
    border: none;
    height: 1px;
    background: #e2e8f0;
    margin: 30px 0;
}


